# editors
*.swp
*~

# build
/build*/
build_*/
.home
.venv
.DS_Store
__pycache__/
videos/
*.ebf

lut_tester_host/web/firmware/*.bin
lut_tester_host/web/firmware/history/*.bin
lut_tester_host/web/firmware/manifest.json
lut_tester_host/web/version.json